:root {
  /* --theme-color: var(--color-orange);
  --color-orange: #ca474b;
  --color-orange-dark: #af3e42; */
  --color-yellow: #ffca3a;
  --color-green: #8ac926;
  --color-blue: #1982c4;
  --color-purple: #6a4c93;
  --color-purple-light: #8f6bc0;
  --color-purple-dark: #463064;
  --color-grey-400: #e4e6ea;
  --border-color: var(--color-grey-400);
  --border-size: 1px;
  --border: var(--border-size) solid var(--border-color);
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  padding: 2rem;
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f3f6f8;
  border-top: 0.6rem solid var(--theme-color);
}

/* h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 1.5rem;
} */

/* h1 {
  font-size: 2.6rem;
} */

h2 {
  font-size: 2.2rem;
}

a {
  color: var(--color-blue);
  background-position: 0 91%;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-blue)), to(var(--color-blue)));
  background-image: linear-gradient(var(--color-blue), var(--color-blue));
  background-repeat: repeat-x;
  background-size: 1px 1px;
  text-shadow: .03em 0 #fff, -.03em 0 #fff, 0 .03em #fff,0 -.03em #fff,.06em 0 #fff,-.06em 0 #fff,.09em 0 #fff,-.09em 0 #fff,.12em 0 #fff,-.12em 0 #fff,.15em 0 #fff,-.15em 0 #fff;
}
a:visited {
  color: var(--color-purple);
}
a:hover, a:active, a:focus {
  color: #135781;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#135781), to(#135781));
  background-image: linear-gradient(#135781, #135781);
  background-repeat: repeat-x;
  background-size: 1px 1px;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

ul {
  margin: 0;
}

ul:not(.list) {
  padding: 0;
  list-style-type: none;
}

button {
  padding: 0;
  border-style: none;
}
button:not(:disabled) {
  cursor: pointer;
}

[type="button"], [type="reset"], [type="submit"], button {
  -webkit-appearance: button;
}

/* LAYOUT */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  grid-gap: 2rem;
}

/* COMPONENTS */
.btn {
  display: inline-block;
  padding: .6em 1em;
  font-family: inherit;
  color: var(--color-blue);
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 5px;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn:disabled {
  opacity: .65;
}

.btn--primary {
  color: #fff;
  background-color: var(--color-purple);
  border-color: var(--color-purple);
}
.btn--primary:hover, .btn--primary:focus {
  color: #fff;
  background-color: var(--color-purple-dark);
  border-color: var(--color-purple-dark);
}
.btn--primary:focus {
  box-shadow: 0 0 0 0.2em var(--color-purple-light);
}

.btn--ghost {
  color: var(--color-purple);
  border-color: var(--color-purple);
}
.btn--ghost:hover, .btn--ghost:focus {
  color: #fff;
  background-color: var(--color-purple-dark);
  border-color: var(--color-purple-dark);
}
.btn--ghost:focus {
  box-shadow: 0 0 0 0.2em var(--color-purple-light);
}

.btn--link {
  padding: 0;
  text-decoration: underline;
}
.btn--link:hover, .btn--link:focus {
  color: #135781;
  box-shadow: none;
}

.card {
  padding: 2rem;
  background-color: #fff;
  border: var(--border);
  border-radius: 3px;
}

input, select, textarea, button {
  margin: 0;
  color: inherit;
  font: inherit;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

label {
  display: inline-block;
  margin-bottom: 0.1em;
}

input, select {
  display: block;
  width: 100%;
  height: calc(1.8em + .75rem + 2px);
  padding: .375rem .75rem;
  margin-bottom: 2rem;
  background-color: #fff;
  border: var(--border);
  border-radius: 3px;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input:focus, select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
input::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
input::-moz-placeholder, select::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
input:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
input::-ms-input-placeholder, select::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
input::placeholder, select::placeholder {
  color: #6c757d;
  opacity: 1;
}
input:disabled, input[readonly], select:disabled, select[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #333;
}

.list {
  padding-left: 1em;
  margin-bottom: 2rem;
}

/* UTILITY CLASSES */
[hidden] {
  display: none !important;
}

.mt2 {
  margin-top: 2rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

@supports ((-webkit-animation: grow 0.5s cubic-bezier(0.25, 0.25, 0.25, 1) forwards) or (animation: grow 0.5s cubic-bezier(0.25, 0.25, 0.25, 1) forwards)) {
  .tick {
    stroke-opacity: 0;
    stroke-dasharray: 29px;
    stroke-dashoffset: 29px;
    -webkit-animation: draw 0.5s cubic-bezier(0.25, 0.25, 0.25, 1) forwards;
            animation: draw 0.5s cubic-bezier(0.25, 0.25, 0.25, 1) forwards;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }

  .circle {
    fill-opacity: 0;
    stroke: #219a00;
    stroke-width: 16px;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation: grow 1s cubic-bezier(0.25, 0.25, 0.25, 1.25) forwards;
            animation: grow 1s cubic-bezier(0.25, 0.25, 0.25, 1.25) forwards;
            top: -100px;
            position: absolute;
  }
}
@-webkit-keyframes grow {
  60% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    stroke-width: 4px;
    fill-opacity: 0;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    stroke-width: 8px;
    fill-opacity: 1;
    fill: #219a00;
  }
}
@keyframes grow {
  60% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    stroke-width: 4px;
    fill-opacity: 0;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    stroke-width: 8px;
    fill-opacity: 1;
    fill: #219a00;
  }
}
@-webkit-keyframes draw {
  0%, 100% {
    stroke-opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  0%, 100% {
    stroke-opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
/* :root {
  --theme-color: var(--color-purple);
} */

body {
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.bmsce{
  position: absolute;
  left: 30px;
  top: -70px;
  font-size: 10rem;
}
.msg{
  position: absolute;
  bottom: 150px;
  right: 480px;
  font-size: 4rem;
}

.svg-container{
  position: absolute;
  top: 200px;
}
